<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanban App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="assets/logo.png" type="image/x-icon">
    <meta name="google-signin-client_id" content="550351084184-ivubue7e92475627iqn7sj32urnp9l7s.apps.googleusercontent.com">
</head>

<body>
    <div id="app">
        <div id="navbar" v-show="page !== 'login'">
            <div class="container">
                <div class="navbar-left">
                    <img class="logo" src="assets/logo.png">
                </div>

                <span class="fa fa-bars menu-icon" style="display: none;"></span>
                <div class="navbar-right">
                    <a href="javascript:void(0)" @click="changePage('home')"><i class="fa fa-home"></i> Home</a>
                    <a href="javascript:void(0)" @click="changePage('organisation')"><i class="fa fa-school"> </i> Organisation</a>
                    <a href="javascript:void(0)" @click="logout()"><i class="fa fa-sign-out-alt"></i> Logout</a>
                </div>
            </div>
        </div>

        <!-- Home -->
        <div v-if="page === 'home'" class="task-wrapper">
            <div class="heading ">
                <h2 v-html="welcomeName"></h2>
            </div>
        </div>

        <!-- Login -->
        <div v-if="page === 'login'">
            <div class="container-auth">
                <div class="forms-container">
                    <div class="signin-signup">
                        <form @submit.prevent="login()" class="sign-in-form">
                            <h2 class="title">Sign in</h2>
                            <div class="input-field">
                                <i class="fas fa-envelope"></i>
                                <input v-model="user.email" type="text" placeholder="Email">
                            </div>
                            <div class="input-field">
                                <i class="fas fa-lock"></i>
                                <input v-model="user.password" type="password" placeholder="Password">
                            </div>
                            <input type="submit" value="Sign in" class="btn-auth solid">

                            <p class="social-text">Or Sign in with social platforms</p>
                            <div class="social-media">
                                <a href="#" class="social-icon"> <i class="fab fa-facebook-f"></i> </a>
                                <a href="#" class="social-icon"> <i class="fab fa-twitter"></i> </a>
                                <a href="#" class="social-icon"> <i class="fab fa-google"></i> </a>
                                <a href="#" class="social-icon"> <i class="fab fa-linkedin-in"></i> </a>
                            </div>
                        </form>

                        <form @submit.prevent="register()" class="sign-up-form">
                            <h2 class="title">Sign Up</h2>
                            <div class="input-field">
                                <i class="fas fa-envelope"></i>
                                <input v-model="createUser.email" type="text" placeholder="Email">
                            </div>

                            <div class="input-field">
                                <i class="fas fa-user"></i>
                                <input v-model="createUser.firstName" type="text" placeholder="First Name">
                            </div>

                            <div class="input-field">
                                <i class="fas fa-user"></i>
                                <input v-model="createUser.lastName" type="text" placeholder="Last Name">
                            </div>

                            <div class="input-field">
                                <i class="fas fa-lock"></i>
                                <input v-model="createUser.password" type="password" placeholder="Password">
                            </div>
                            <input type="submit" value="Sign Up" class="btn-auth solid">

                            <p class="social-text">Or Sign in with social platforms</p>
                            <div class="social-media">
                                <a href="#" class="social-icon"> <i class="fab fa-facebook-f"></i> </a>
                                <a href="#" class="social-icon"> <i class="fab fa-twitter"></i> </a>
                                <a href="#" class="social-icon"> <i class="fab fa-google"></i> </a>
                                <a href="#" class="social-icon"> <i class="fab fa-linkedin-in"></i> </a>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="panels-container">
                    <div class="panel left-panel">
                        <div class="content">
                            <h3>New Here ? </h3>
                            <p> don't have account, create new account. </p>
                            <button class="btn-auth transparent" onclick="signUp()">Sign Up</button>
                        </div>

                        <img src="assets/login.svg" alt="" class="image">
                    </div>

                    <div class="panel right-panel">
                        <div class="content">
                            <h3>One of us ? </h3>
                            <p> Already have accont. </p>
                            <button class="btn-auth transparent" onclick="signIn()">Sign In</button>
                        </div>

                        <img src="assets/register.svg" class="image">
                    </div>
                </div>
            </div>
        </div>

        <!-- ORGANISATION -->
        <div v-else-if="page === 'organisation'" class="task-wrapper " id="task-section ">
            <div class="container">
                <div class="heading">
                    <h2>Organisation</h2>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a type="button" class="btn  btn-info float-right" @click="showModalOrganisation = true" href="javascript:void(0)"> <i class="fa fa-plus"></i> Add </a>
                    </div>
                    <div class="card-body ">
                        <div v-if="organisationsData.length === 0">
                            <h6>no organisation exist</h6>
                        </div>

                        <div class="band ">
                            <div v-for="data in organisationsData " :key="data.id ">
                                <div class="card">
                                    <a href="javascript:void(0) " @click="detailOrganisation(data.id) ">
                                        <div class="thumb " style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flex-1.jpg); "></div>
                                        <article>
                                            <h1>{{data.name}}</h1>
                                            <span> owner: <br> {{data.owner.firstName}} {{data.owner.lastName}}</span>
                                        </article>
                                    </a>
                                    <div class="row">
                                        <div class="btn-group" role="group" aria-label="Basic example" style="margin: 10px 50px;">
                                            <button type="button" @click="editOrganisation(data.id)" class="btn btn-sm btn-warning"><i class="fa fa-pencil-alt"></i> Edit</button>
                                            <button type="button" @click="deleteOrganisation(data.id)" style="margin-left: 5px;" class="btn btn-sm btn-danger"><i class="fa fa-trash-alt"></i> Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div v-else-if="page === 'task'" class="task-wrapper " id="task-section ">
            <div class="container">
                <div class="heading">
                    <h2 v-text="taskDetailTitle"></h2>
                    <h6 v-text="taskDetailOwner"></h6>
                </div>
            </div>
            <div class="container-task">
                <div class="card-task-flex">
                    <div class="card bg-light mb-3 border-primary" style="max-width: 21.5rem;">
                        <div class="card-header bg-primary text-white">Backlog</div>
                        <div class="card-body">
                            <div v-if="backlog.length === 0" class="card" style="width: 16rem;">
                                <h6>no action exist</h6>
                            </div>
                            <div v-for="backlogs in backlog" class="card" style="width: 16rem;">
                                <div class="card-body">
                                    <h5 class="card-title">{{backlogs.name}}</h5>
                                    <p class="card-text">{{backlogs.description}}</p>
                                    <div style="margin-top: 20px;">
                                        <p class="card-text-small" style="text-align: left;"> by: {{backlogs.user.email}}</p>
                                    </div>
                                    <div class="float-right">
                                        <a href="javascript:void(0)" @click="destroyTask(backlogs.id)" class="btn btn-sm btn-danger text-right"> <i class="fa fa-trash"></i> </a>
                                        <a href="javascript:void(0)" @click="editTask(backlogs.id)" class="btn btn-sm btn-warning text-right"> <i class="fa fa-pencil-alt"></i> </a>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-arrows-alt"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" @click="updateCategory(backlogs.id,2)" href="javascript:void(0)">Move to Todo</a>
                                                <a class="dropdown-item" @click="updateCategory(backlogs.id,3)" href="javascript:void(0)">Move to Doing</a>
                                                <a class="dropdown-item" @click="updateCategory(backlogs.id,4)" href="javascript:void(0)">Move to Done</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer bg-transparent border-success">
                            <button @click="showModalTask = true;detailIdTaskAdd = 1" class="btn btn-sm btn-secondary btn-block"> <i class="fa fa-plus"></i> Add</button>
                        </div>
                    </div>
                    <div class="card bg-light mb-3 border-warning" style="max-width: 21.5rem;">
                        <div class="card-header bg-warning text-white">Todo</div>
                        <div class="card-body">
                            <div v-if="todo.length === 0" class="card" style="width: 16rem;">
                                <h6>no action exist</h6>
                            </div>
                            <div v-for="todos in todo" class="card" style="width: 16rem;">
                                <div class="card-body">
                                    <h5 class="card-title">{{todos.name}}</h5>
                                    <p class="card-text">{{todos.description}}</p>
                                    <div style="margin-top: 20px;">
                                        <p class="card-text-small" style="text-align: left;"> by: {{todos.user.email}}</p>
                                    </div>
                                    <div class="float-right">
                                        <a href="javascript:void(0)" @click="destroyTask(todos.id)" class="btn btn-sm btn-danger text-right"> <i class="fa fa-trash"></i> </a>
                                        <a href="javascript:void(0)" @click="editTask(todos.id)" class="btn btn-sm btn-warning text-right"> <i class="fa fa-pencil-alt"></i> </a>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-arrows-alt"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" @click="updateCategory(todos.id,1)" href="javascript:void(0)">Move to Backlog</a>
                                                <a class="dropdown-item" @click="updateCategory(todos.id,3)" href="javascript:void(0)">Move to Doing</a>
                                                <a class="dropdown-item" @click="updateCategory(todos.id,4)" href="javascript:void(0)">Move to Done</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer bg-transparent border-success">
                            <button @click="showModalTask = true;detailIdTaskAdd = 2" class="btn btn-sm btn-secondary btn-block"> <i class="fa fa-plus"></i> Add</button>
                        </div>
                    </div>
                    <div class="card bg-light mb-3 border-info" style="max-width: 21.5rem;">
                        <div class="card-header bg-info text-white">Doing</div>
                        <div class="card-body">
                            <div v-if="doing.length === 0" class="card" style="width: 16rem;">
                                <h6>no action exist</h6>
                            </div>
                            <div v-for="doings in doing" class="card" style="width: 16rem;">
                                <div class="card-body">
                                    <h5 class="card-title">{{doings.name}}</h5>
                                    <p class="card-text">{{doings.description}}</p>
                                    <div style="margin-top: 20px;">
                                        <p class="card-text-small" style="text-align: left;"> by: {{doings.user.email}}</p>
                                    </div>
                                    <div class="float-right">
                                        <a href="javascript:void(0)" @click="destroyTask(doings.id)" class="btn btn-sm btn-danger text-right"> <i class="fa fa-trash"></i> </a>
                                        <a href="javascript:void(0)" @click="editTask(doings.id)" class="btn btn-sm btn-warning text-right"> <i class="fa fa-pencil-alt"></i> </a>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-arrows-alt"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" @click="updateCategory(doings.id,1)" href="javascript:void(0)">Move to Backlog</a>
                                                <a class="dropdown-item" @click="updateCategory(doings.id,2)" href="javascript:void(0)">Move to Todo</a>
                                                <a class="dropdown-item" @click="updateCategory(doings.id,4)" href="javascript:void(0)">Move to Done</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer bg-transparent border-success">
                            <button @click="showModalTask = true;detailIdTaskAdd = 3" class="btn btn-sm btn-secondary btn-block"> <i class="fa fa-plus"></i> Add</button>
                        </div>
                    </div>
                    <div class="card  mb-3 border-success" style="max-width: 21.5rem;">
                        <div class="card-header bg-success text-white">Done</div>
                        <div class="card-body">
                            <div v-if="done.length === 0" class="card" style="width: 16rem;">
                                <h6>no action exist</h6>
                            </div>
                            <div v-for="dones in done" class="card" style="width: 16rem;">
                                <div class="card-body">
                                    <h5 class="card-title">{{dones.name}}</h5>
                                    <p class="card-text">{{dones.description}}</p>
                                    <div style="margin-top: 20px;">
                                        <p class="card-text-small" style="text-align: left;"> by: {{dones.user.email}}</p>
                                    </div>
                                    <div class="float-right">
                                        <a href="javascript:void(0)" @click="destroyTask(dones.id)" class="btn btn-sm btn-danger text-right"> <i class="fa fa-trash"></i> </a>
                                        <a href="javascript:void(0)" @click="editTask(dones.id)" class="btn btn-sm btn-warning text-right"> <i class="fa fa-pencil-alt"></i> </a>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-arrows-alt"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" @click="updateCategory(dones.id,1)" href="javascript:void(0)">Move to Backlog</a>
                                                <a class="dropdown-item" @click="updateCategory(dones.id,2)" href="javascript:void(0)">Move to Todo</a>
                                                <a class="dropdown-item" @click="updateCategory(dones.id,3)" href="javascript:void(0)">Move to Doing</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer bg-transparent border-success">
                            <button @click="showModalTask = true;detailIdTaskAdd = 4" class="btn btn-sm btn-secondary btn-block"> <i class="fa fa-plus"></i> Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- MODAL ADD TASK -->
        <div v-if="showModalTask">
            <transition name="modal">
                <div class="modal-mask">
                    <div class="modal-wrapper">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Add Task</h5>
                                    <button type="button" @click="showModalTask = false" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <input v-model="createTaskModel.id" type="text" style="display: none;">
                                        <div class="input-field">
                                            <i class="fas fa-school"></i>
                                            <input v-model="createTaskModel.name" type="text" placeholder="Name">
                                        </div>
                                        <div class="input-field">
                                            <i class="fas fa-school"></i>
                                            <input v-model="createTaskModel.description" type="text" placeholder="Description">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" @click="showModalTask = false">Close</button>
                                    <button type="button" class="btn btn-success" @click="saveOrupdateTask(createTaskModel.id)" class="btn btn-primary"> <i class="fa fa-save"></i> Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </transition>
        </div>

        <!-- MODAL ADD ORGANISATION -->
        <div v-if="showModalOrganisation">
            <transition name="modal">
                <div class="modal-mask">
                    <div class="modal-wrapper">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Add Organisation</h5>
                                    <button type="button" @click="showModalOrganisation = false" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <input v-model="createOrganisation.id" type="text" style="display: none;">
                                        <div class="input-field">
                                            <i class="fas fa-school"></i>
                                            <input v-model="createOrganisation.name" type="text" placeholder="Name">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" @click="showModalOrganisation = false">Close</button>
                                    <button type="button" class="btn btn-success" @click="saveOrupdateOrganisation(createOrganisation.id)" class="btn btn-primary"> <i class="fa fa-save"></i> Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </transition>
        </div>

    </div>

    <script src="https://apis.google.com/js/platform.js " async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10 "></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js "></script>
    <script src="js/main.js "></script>
    <script src="js/style.js "></script>

</body>

</html>